.modalbutton_style{
    margin-top: 20px;
    color: white;
    border: none;
    outline: none;
    background: #D9D9D9;
    width: 100%;
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 600;
    line-height: 41.78px;
    border-radius: 8px;
}
.popup_header{
    font-family: 'Inter';
    font-size: var(--font-header);
    font-weight: 600;
    line-height: 29.05px;
    text-align: center; 
}
.popup_para{
    padding-top: 9px;
    font-family:'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    word-spacing: 1px;
    text-align: center;
    color: #868C9A;
}
.product_update_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0px;

}
.product_update_content h6{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0%;
    margin: 0%;
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    color: #868C9A;
}
.product_update_content h6 span{
    color: black;
}
.input{
    height: fit-content ;
    width: 100% ;
    padding: 10px 10px ;
    border-radius: 6px ;
    outline: none ;
    border: 2px solid #E0E0E0 ;
}
.errorstock{
    color: red;
    font-weight: 400;
    line-height: 21.78px;
    word-spacing: 1px;
    text-align: left;
    font-size: 13px
}
@media (max-width:470px) {
    .product_update_content h6{
        display: flex;
        flex-direction: column;
        gap: 8px;  
    }
    .product_update_content h6 span{
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .product_update_content{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}