.PrepareOrders{
    width: 100%;
    border: 1px solid #E0E0E0;
    padding:15px;
    white-space: nowrap;
}
.order_id{
font-family: 'Inter';
font-size: var(--font-subpara);
font-weight: 500;
line-height: 16.94px;
text-align: left;
background: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%);
border-image-source: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%);
border-image-slice: 1;
}
@supports (-webkit-background-clip: text) or (background-clip: text) {
.order_id {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
}
.PrepareOrders h4{
font-family: 'Inter';
font-size: var(--font-subpara);
font-weight:500;
line-height: 16.94px;
text-align: left;
}
.contacts{
    display: flex;
    gap: 20px;
}
.row_items{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    /* gap: 30px; */
}
.contact_number{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon{
    border-radius: 100%;
    padding: 8px;
    background-color:#F2F8DF;
    margin-bottom: 10px;
}
.row_order_items,.order_user{
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 13px;
    padding-bottom: 5px;

}
.row_items_total{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 20px;
}

.PrepareOrders h3{
    font-family: 'Inter';
    font-size:var(--font-para);
    font-weight:700;
    line-height: 19.36px;
    text-align: left;
}

.order_Verifyconfirm{
    text-align: center;
    border: none;
    outline: none;
    margin-top: 10px;
    color: #868C9A;
    background: #E1E1E1;
    width: 100%;
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 600;
    line-height: 41.78px;
    border-radius: 8px;
}

