.store_create_form_navigator{
    margin-top: 5%;
    width: 45%;
    height: 340px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2%;
    row-gap: 5%;
    grid-template-rows: auto auto auto;
}
.store_create_form_navigator h6,.store_create_form_navigator p{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 24.52px;
    text-align: left;
    color: #868C9A;
}
.store_create_form_navigator h4{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 800;
    line-height: 29.36px;
    text-align: left;
}
.solid_line {
    margin-top: 10px;
    border-top: 1px solid #BEBEBE;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #BEBEBE;
}
.circle_green{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color:#45C676;
}
.dotted_line{
    margin-left: 20%;
    border: none;
    border-left: 1px dotted #BEBEBE;
    width: 100%;
    height: 100%;
}

@media (max-width:1287px) {
    .store_create_form_navigator{
        grid-template-columns: 30px auto;

    }
}
@media (max-width:1098px) {
    .store_create_form_navigator{
        width: 100%;
        height: auto;
        display: flex;
        row-gap: normal;
    }  
}
        