.customCarousel{
    width: 100%;
    height: 35%;
    background-color: #FFFFFF;
}
.customCarousel button{
    background-color: black !important;
}
.customCarousel span{
    font-size: larger;
    border-radius: 40%;
    background-color: rgb(25, 24, 24);
}
.carouselItem {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}
.carouselItem::-webkit-scrollbar{
    display: none;
}
.carouselItem img {
    max-width: 100px; 
    height: auto;
}

@media (max-width:1420px) { 
    .customCarousel button{
         display: none;
    }      
    .customCarousel{
        width: 100%;
        height: 52%;
    }
    .carouselItem {
        width: fit-content;
        flex: none;
        margin: 5% 0%;
        margin-left: 27%;
        padding: 0%;
        padding-top: 0px;
        display: grid;
        grid-template-columns: auto auto ;
        gap: 10px; 
    }
}
@media (max-width:1070px) {
    .carouselItem {
        margin-left: 19%;
    }
}
@media (max-width:948px) {
    .carouselItem {
        margin-left: 13%;
    }
}
@media (max-width:868px) {         
    .carouselItem {
        margin-left: 25%;
 }}

 @media (max-width:768px) {         
    .carouselItem {
        margin-left: 20%;
 }}
 @media (max-width:702px) {         
    .carouselItem {
        margin-left: 13%;
 }}

 @media (max-width:700px) {
    .customCarousel button{
        display: none;
   }      
   .customCarousel{
       width: 100%;
       height: 52%;
   }
   .carouselItem {
       width: fit-content;
       flex: none;
       margin: 5% 24%;
       /* margin-left: 17%; */
       padding: 0%;
       padding-top: 0px;
       display: grid;
       grid-template-columns: auto auto auto;
       gap: 10px; 
   }
 }
 @media (max-width:451px) {
    .customCarousel button{
        display: none;
   }      
   .customCarousel{
       width: 100%;
       height: 52%;
   }
   .carouselItem {
       width: fit-content;
       flex: none;
       margin: 5% 24%;
       /* margin-left: 17%; */
       padding: 0%;
       padding-top: 0px;
       display: grid;
       grid-template-columns: auto auto;
       gap: 10px; 
   }
 }
