.contact_cards{
    width: 88%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact_card{
    border-radius: 12px ;
    border: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 30px;
    margin-bottom: 50px;
}
.contact_card_header{
    font-family:'Inter';
    font-size: var(--font-32pxsize);
    font-weight: 700;
    line-height: 38.73px;
    text-align: center;
}
.contact_card_para{
    text-align: center;
    width: 77%;
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    color:#868C9A;
}

.contact_card_button{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    outline: none;
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 600;
    line-height: 41.78px;
    border-radius: 8px;
    border: 1px solid;
    border-image-source: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%);
    border-image-slice: 1;
    background: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%);
}
.contact_card_button button{
    align-self: center;
    border: none;
    background-color: transparent;
    outline: none;
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 600;
}
.button_icon{
  width: 20px;
  height:fit-content;
  color:  #668D12;
}

@supports (-webkit-background-clip: text) or (background-clip: text) {
    .contact_card_button {
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}