.modalbutton_style{
    margin-top: 20px;
    color: white;
    border: none;
    outline: none;
    background: #D9D9D9;
    width: 60%;
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 600;
    line-height: 41.78px;
    border-radius: 8px;
}
.popup_header{
        font-family: 'Inter';
        font-size: var(--font-subheader);
        font-weight:600;
        line-height: 24.36px;
        text-align: left;  
}
 .verify_container{
    display: flex;
    gap: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
 }
 .PackOrders{
    width: 48%;
    border: 1px solid #E0E0E0;
    padding:15px;
    white-space: nowrap;
}
.order_id{
font-family: 'Inter';
font-size: var(--font-subpara);
font-weight: 500;
line-height: 16.94px;
text-align: left;
background: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%);
border-image-source: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%);
border-image-slice: 1;
}
.headerwithdate{
   display: flex;
   justify-content: space-between;
}
@supports (-webkit-background-clip: text) or (background-clip: text) {
.order_id {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
}
.PackOrders h4{
font-family: 'Inter';
font-size: 14px;
font-weight:500;
line-height: 16.94px;
text-align: left;
}
.contacts{
    display: flex;
    gap:20px;
}
.row_items h2{
font-family: 'Inter';
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
}
.pointer{
    border-radius: 100%;
    padding: 10px;
    background: #45C676;
}
.row_items{
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
}
.pack_status{
    display: flex;
    gap: 9px;
}
.order_status_container{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.contact_number{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon{
    border-radius: 100%;
    padding: 8px;
    background-color:#F2F8DF;
    margin-bottom: 10px;
}
.row_order_items,.order_user{
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 13px;
    padding-bottom: 5px;

}
.PackOrders h3{
font-family: 'Inter';
font-size: 16px;
font-weight:700;
line-height: 19.36px;
text-align: left;
}
.item_contain{
    display: flex;
    justify-content: space-between;
}
.checkbox_option{
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.item_name{
    font-family:'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.item_price{
    font-family:'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 13px; 
}
@media (max-width:1364px) {
    .verify_container{
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-top: 30px;
        margin-bottom: 20px;
     }
     .PackOrders{
        width: 100%;
        border: 1px solid #E0E0E0;
        padding:15px;
        white-space: nowrap;
    }
}
@media (max-width:800px){
    .modalbutton_style{
        width: 100%;
    }
}
@media (max-width:717px) {
    .row_items{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        gap: 3px;
    }
    .contacts{
        display: flex;
        flex-direction: column;
        gap:1px;
    }
}
@media (max-width:534px) {
    .headerwithdate{
        display: flex;
        flex-direction: column;
     }
     h4{
        text-overflow: ellipsis;

     }
     .contact_number h4{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
     }
     .popup_header{
        font-family: 'Inter';
        font-size: 20px;
        font-weight:600;
        line-height: 24.36px;
        text-align: left;  
     }
}