.login_verify{
    width: 100%;
    height: 100%;
    padding: 20px 0px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.login_verify img{
    width: 90px;
    height: 90px;
}
.login_verify h6{
    font-family: 'Inter';
    font-size: var(--font-32pxsize);
    font-weight: 700;
    line-height: 38.73px;
    text-align: center;
}
.login_verify p{
    color: #868C9A;
    width: 65%;
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.login_verify_content{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;
}
.login_verify_content_input{
    width: 80% ;
    height: 140px ;
    display: flex ;
    gap: 4%;
    align-content: center ;
    margin: 20px 0px 0px 0px ;
}
.form_control input{
    width: 90% ;
    height: 34% ;
    border-radius: 6px ;
    border: 2px solid #E0E0E0;
    outline: none ;
    text-align: center;
}
.login_verify_content_button{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_verify_content_button button{
    width: 100%;
    border: none;
    outline: none;
    color: #868C9A;
    background-color: #E1E1E1;
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 600;
    line-height: 41.78px;
    margin-bottom: 15px;
}
.login_verify_resend{
    width: 60%;
    font-family: 'Inter';
    font-size: var(--font-subpara);
    font-weight: 500;
    line-height: 16.94px;
    color: #868C9A;
    letter-spacing: 0px;
    word-spacing: normal;
}

