.login_page{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_Layout{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-attachment: fixed; 
}

.login_Layout_Form{
    margin: 20px;
    position: absolute;
    border-radius: 24px;
    background-color: white;
    max-width: 430px;
    max-height: 542px;
} 

/* I need to check media query of verify form */