.Masalas{
    width: 100%;
    padding: 25px;
    padding-bottom: 15px;
    border-radius: 5px ;
    border: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.Masalas h4{
font-family: 'Inter';
font-size: 20px;
font-weight: 600;
line-height: 24.2px;
text-align: left;
}

.Masalas span{
    font-size:35px;
    font-weight: 900;
    position: absolute;
    bottom:14px ;
    right: 10px;
}

@media (max-width:357px) {
    .Masalas{
        width: 100%;
        padding-left:15px;
    }
    .Masalas span{
        font-size:35px;
        font-weight: 900;
        position: absolute;
        bottom:14px ;
        right: 3px;
    } 
}