.docinfoform_header{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    line-height: 79.05px;
    text-align: left;
}
.docinfoform_Container{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 30px;
}
