.ProductImgCard{
    width: 48%;
    padding: 25px;
    padding-bottom: 15px;
    border-radius: 1px ;
    border: 1px solid #E0E0E0;
}
.ProductImg_header{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: left;  
}
.ProductImgCard h3{
font-family: 'Inter';
font-size: 20px;
font-weight: 600;
text-align: left;
}
.ProductImgCard p{
font-family: 'Inter';
font-size: 16px;
font-weight: 400;
text-align: left;
color: #868C9A;
}

.imgContainer{
    padding-top:13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:650px) {
    .ProductImgCard{
        width: 100%;
    }
}