.wallet{
    width: 70%;
    padding: 40px 35px 40px 20px;
    box-shadow: 0px 0px 2px rgb(79, 78, 78);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.wallet h3{
    font-family: 'Inter';
    font-size: var(--font-subheader);
    font-weight: 700;
    line-height: 24.2px;
    text-align: left;  
}
.wallet p{
    font-family: 'Inter';
    font-size: var(--font-para);
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #868C9A;
}
.walletbankform{
    width: 100%;
    padding: 20px;
    border-radius: 12px ;
    border: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5px;  
}
.form_control{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}
.form_control input{
    width: 95% ;
    height: 50px;
    padding: 15px 16px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    border: 1px solid #E0E0E0
}
.setupiform input{
    width: 95% ;
    height: 50px;
    padding: 15px 16px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    border: 1px solid #E0E0E0
}
.walletLinkUpi{
    width: 100%;
    padding: 20px;
    border-radius: 12px ;
    border: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 5px;  
}
.banklink{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.errorstock{
    color: red;
    font-weight: 400;
    line-height: 21.78px;
    word-spacing: 1px;
    text-align: left;
    font-size: 13px
}
.link_button{
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    background: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%);
    border-image-source: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%);
    border-image-slice: 1;
    border-bottom: solid 2px   #ACC43F ;
}
@supports (-webkit-background-clip: text) or (background-clip: text) {
    .link_button{
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.linked_button{
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    color: red;
}
.wallet h6{
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
}
.upiid_container{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.form_button{
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
    width: 100%;
}
.form_button button{
    display: flex;
    justify-content: center;
    width: 46%;
    padding: 10px 0px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;

}
.form_button button:nth-child(1){
    background-color: white;
}

@media (max-width:1428px) {
    .wallet{        
        width: 100%;
        }
}
@media (max-width:430px) {
    .banklink{
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items:flex-start;
    }    
}