.docinfoform_header{
    font-family: 'Inter';
    font-size: var(--font-header);
    font-weight: 600;
    line-height: 45.05px;
    text-align: left;
}
 h6{
    padding-left: 2px;
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    color: #868C9A;
    width: 86%;
}
.docinfoform_Container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 30px;
}

.agreement_content{
    width: 100%;
    padding: 20px;
    border-radius: 12px ;
    border: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5px;
    text-align: justify;
}
.store_num{
    display: flex;
}
.store_num label{
    width: 100%;
    margin-left: 10px;
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 400;
    text-align: left;
    color: #868C9A;
}
.continue_button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%) !important;
    width: 98%;
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 600;
    line-height: 41.78px;
    border-radius: 8px;
}