.docstoreform_header{
    font-family: 'Inter';
    font-size:var(--font-header);
    font-weight: 600;
    line-height: 79.05px;
    text-align: left;
}
.docform_Container{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 30px;
}
.PanDetail_Form,.bankDetail_Form{
    width: 100%;
    padding: 20px;
    border-radius: 12px ;
    border: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5px;
}
.form_control{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100%;
}
.form_control input{
    width: 90%;
    height: 60%;
    padding: 12px 16px 12px 16px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    border: 1px solid #E0E0E0
}

.checkbox_option input{
    margin-right: 10px;
    align-items: center;
}
.checkbox_option label{
    font-family: 'Inter';
    gap: 10px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #868C9A;
}
.docstorecard_header{
    font-family: 'Inter';
    font-size:var(--font-subheader);
    font-weight: 600;
    line-height: 29.05px;
    text-align: left;
}
.continue_button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%) !important;
    width: 98%;
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 600;
    line-height: 41.78px;
    border-radius: 8px;
}