.profile_Form{
    width: 70%;
    padding: 40px;
    border-radius: 12px ;
    border: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.profile_header{
    font-family: 'Inter';
    font-size: var(--font-subheader);
    font-weight: 700;
    text-align: left;   
    margin: 0;
    padding: 0; 
}
.profile_para {
    font-family: 'Inter';
    font-size: var(--font-para);
    font-weight: 400;
    text-align: left;
    color: #868C9A;
    margin: 0;
    padding: 0;
}

.form_control{
    display: flex;
    flex-direction: column;
    gap: 2px;  
}
.form_control input{
    padding: 10px 12px 10px 12px;
    gap: 8px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

.input_with_button {
    display: flex;
    flex-direction: column;
    border: none;
    position: relative;
    gap: 5px;
  }
.email_change_button {
    position: absolute;
    width: fit-content;
    color: red;
    top: 14px;
    right: 10px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
}
.profile_Form button{
    width: 100%;
    border: none;
    outline: none;
    color: #868C9A;
    background-color: #E1E1E1;
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 600;
    line-height: 41.78px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.note{
    color: red;
    text-align: center;
    font-family: 'Inter';
    font-size: var(--font-subpara);
    font-weight: 400;
    line-height: 14.52px;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
}


@media (max-width: 1428px) {
    .profile_Form {
        width: 100%;
    }
    .email_change_button {
        display: none;
    }
}

@media (max-width: 550px) {
    .profile_Form {
        width: 100%;
        padding: 20px;
        gap: 10px;
    }

    .profile_header {
        font-size: 18px;
    }

    .profile_para {
        font-size: 14px;
    }

    .form_control input {
        padding: 8px 10px;
    }

    .email_change_button {
        font-size: 12px;
        top: 10px;
        right: 5px;
    }

    .profile_Form button {
        font-size: 14px;
        line-height: 30px;
    }

    .note {
        font-size: 12px;
        line-height: 13px;
    }
}
