.ConfirmOrders{
    width: 100%;
    border: 1px solid #E0E0E0;
    padding:15px;
    white-space: nowrap;
}
.order_id{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    background: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%);
    border-image-source: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%);
    border-image-slice: 1;
}
@supports (-webkit-background-clip: text) or (background-clip: text) {
.order_id {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
}
.contacts{
    display: flex;
    gap: 20px;
}
.contact_number{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon{
    border-radius: 100%;
    padding: 8px;
    background-color:#F2F8DF;
    margin-bottom: 10px;
}
.ConfirmOrders h4{
font-family: 'Inter';
font-size: 14px;
font-weight:500;
line-height: 16.94px;
text-align: left;
}
.row_items{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}
.ConfirmOrders h3{
font-family: 'Inter';
font-size: 16px;
font-weight:700;
line-height: 19.36px;
text-align: left;
}
.order_confirm{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    outline: none;
    margin-top: 10px;
    background: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%) !important;
    width: 48%;
    font-size: 86px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    line-height: 41.78px;
    border-radius: 8px;
}
.order_reject{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%);
    border-image-source: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%);
    border-image-slice: 1;    
    width: 48%;
    font-size: 86px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    line-height: 41.78px;
    border:2px solid  #a3bb3a ;
    border-radius:8px;
}
@supports (-webkit-background-clip: text) or (background-clip: text) {
    .order_reject {
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

