.store_create_layout{
    width: 100%;
    height: auto;
}
.store_create_layout h1{
    padding: 28px 0px;
    padding-left: 103px;
    background: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%);
}
@supports (-webkit-background-clip: text) or (background-clip: text) {
    .store_create_layout h1 {
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.store_create_Container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.store_create_Layout_Form_Container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.move_back{
    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;
    align-self: flex-start;
}
.store_create_Layout_Form_Container_header{
    width: 48%;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 800;
    line-height: 38.73px;
    text-align: center;
}
.store_create_Layout_Form_Container_para{
    width: 48%;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px; 
    color: #868C9A;
    text-align: center;   
}
.store_create_form{
    width: 100%;
    display: flex;
    gap: 5%;
}
.store_create_form_different_form{
    margin-top: 5%;
    width: 50%;
}

.continue_button{
    background-color: aqua;
}
@media (max-width:1287px) {
    .store_create_Layout_Form_Container{
        width: 95%;
        gap: 10px;
    }
    .move_back{
    margin-left: 20px;
    } 
}
@media (max-width:1098px) {
    .store_create_form{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        column-gap: normal;
    } 
    .store_create_form_different_form{
        width: 100%;
    }  
    .store_create_layout h1{
        padding: 28px 0px;
        padding-left: 53px;
    }
}
