.modalbutton_style{
    margin-top: 20px;
    color: white;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #668D12 0%, #ACC43F 113.61%) !important;
    width: 100%;
    font-family: 'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 600;
    line-height: 41.78px;
    border-radius: 8px;
}
.popup_header{
    margin-top: 20px;
    font-family: 'Inter';
    /* font-size: 22px; */
    font-size: var(--font-subheader);
    font-weight: 700;
    line-height: 38.73px;
    text-align: center;
}
.popup_para{
    padding-top: 9px;
    font-family:'Inter';
    font-size: var(--font-18pxsize);
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    word-spacing: 1px;
    text-align: center;
    color: #868C9A;
}

.imageContainer {
    width: 100px;
    padding:10px;
    height: 100px;
    border-radius: 100%;
    background: #E0E9C2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: -59px; 
    left: 50%;
    transform: translateX(-50%);
  }
  @media (max-width:470px) {
    .imageContainer {
        width: 100px;
        padding:3px;
        height: 100px;
        border-radius: 100%;
        background: #E0E9C2;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        position: absolute;
        top: -59px; 
        left: 50%;
    }
    .imageContainer img{
        font-size: 5px;
    }
        
}