.Settlement{
    margin-top:5px;
    width: 100%;
    height: 65%;
    overflow: scroll;
}
.Settlement::-webkit-scrollbar{
    display: none;
}
.Transaction_payment{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 11px;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #E0E0E0;
}
.payment_container{
    display: flex;
    gap: 11px;
}
.icons_profile img{
    width: 30px;
    height: 30px;
}
.icons_profile{ 
    border-radius: 100%;
    padding: 10px;
    font-size: 20px;
    background: #F2F8DF;
    width: fit-content;
    height: fit-content;
}
.payment_detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.payment_detail h4{
    font-family:'Inter';
    font-size: var(--font-para);
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
}
.payment_detail h5{
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
}
.payment_detail h6{
    width: fit-content;
    padding: 2px 7px;
    background: #F2F8DF;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 600;
    line-height: 14.52px;
    text-align: left;   
}
.payment_detail p{
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    color: #868C9A;
}
.price_in_green{
    flex-basis: fit-content;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align:right;
    color: #198754;
}
.price_in_red{
    flex-basis: fit-content;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align:right;
    color:red;
}
@media (max-width:1189px) {
    .price_in_green,.price_in_red{
        white-space: nowrap;
    }
}
@media (max-width:969px) {
    .price_in_green,.price_in_red{
        flex-wrap: wrap;
        font-size: 10px;
        text-align: left;
       
    }
    .payment_detail h4{
        padding: 0%;
        font-size: 12px;
        white-space: wrap;
    }
    .Transaction_payment{
        padding-left: 0px;
    }
}

@media (max-width:700px) {
    .price_in_green,.price_in_red{
        text-align: right;
        font-size: var(--font-subpara);
    }
    .payment_detail h4{
        padding: 0%;
        font-size:var(--font-para);
        white-space: wrap;
    }
}